[project]
	description = Simple, efficient background processing for Ruby
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Rhodes (danielrhodes)
[access "refs/for/refs/*"]
	read = group user/Daniel Rhodes (danielrhodes)
	push = group user/Daniel Rhodes (danielrhodes)
	label-Code-Review = -2..+2 group user/Daniel Rhodes (danielrhodes)
	label-Verified = -1..+1 group user/Daniel Rhodes (danielrhodes)
	rebase = group user/Daniel Rhodes (danielrhodes)
	removeReviewer = group user/Daniel Rhodes (danielrhodes)
	submit = group user/Daniel Rhodes (danielrhodes)
[access "refs/heads/*"]
	read = group user/Daniel Rhodes (danielrhodes)
	create = group user/Daniel Rhodes (danielrhodes)
	push = +force group user/Daniel Rhodes (danielrhodes)
	pushMerge = group user/Daniel Rhodes (danielrhodes)
[access "refs/tags/*"]
	push = +force group user/Daniel Rhodes (danielrhodes)
	pushTag = group user/Daniel Rhodes (danielrhodes)
	pushSignedTag = group user/Daniel Rhodes (danielrhodes)
